.format{color:pink;
	font-size:20px;

}

.format2{
	color:orange;
	font-size:15px;
	font-family: Zapfino;
}


.format4{
	color:gray;
	font-size:10px;
	font-family:STFangsong;
}

.card-name{
	color:FF6699;
}